
.callout[data-callout="card-link"] {
    display: flex;
    height: 8em;
    --callout-padding: 0;
    --callout-color: transparent;
    --callout-content-padding: 0 12px;
    border: 1px solid var(--background-modifier-border);
    background-color: var(--background-primary-alt);
    
}

.callout[data-callout="card-link"] .callout-title {
    padding: 0;
    max-width: 50%;
    min-width: 150px;    
}

.callout[data-callout="card-link"]  .callout-icon {
    display: none;
}

.callout[data-callout="card-link"] .callout-title-inner {
    height: 100%;
    width: 100%;
}

.callout[data-callout="card-link"] .callout-title img {
    height: 100%;
    object-fit: cover; 
    max-width: 100%;
    width: 100%;
}

.callout[data-callout="card-link"] .callout-content {
    font-size: var(--font-smallest); 
    display: flex; 
    flex-direction: column;
}

.callout[data-callout="card-link"] img[alt="favicon"] {
    height: 1em;
    margin: 0 0.2em 0 0;
    vertical-align: middle;
    padding-bottom: 0.1em;
}

.callout[data-callout="card-link"] a {
    background-image: none;
    padding-inline-end: 0;
}

.callout[data-callout="card-link"] .callout-content p, 
.callout[data-callout="card-link"] .callout-content h3 {
    margin-top: 5px; 
    margin-bottom: 5px;
}

.callout[data-callout="card-link"] .callout-content :last-child {
    margin-top: auto;
}






div:has(>.callout) {
    container-type: inline-size;
}

@container (max-width: 400px) {
    .callout[data-callout="card-link"]{
        flex-direction: column;
        height: fit-content;
    } 
    .callout[data-callout="card-link"] .callout-title {
        max-width: 100% !important;
        height: 100px;
    } 
    .callout[data-callout="card-link"] .callout-title-inner {
        width: 100% !important;
    }
    .callout[data-callout="card-link"] .callout-title img {
        max-width: 100% !important;
        width: 100% !important;
        object-fit: cover;
    } 
}






